
.ProblemDetailsPage {
  display: flex;
  flex-direction: column;
}

.ToSolveDisclaimer {
  margin-top: 2rem;

  & > a {
    color: #4183C4 !important;
  }
}

.Markdown {
  & code {
    background-color: #111111;
    color: white;
    border-radius: 3px;
    padding: 0.1rem;
  }
}