@import "src/styles/globals";

.TeamPage {
	max-width: 100vw;
}

.TeamPageContainer {
	display: flex;
	flex-direction: column;
}

.Loader {
	display: flex;
	flex-direction: row;
	align-items: center;

	& > div:last-child {
		margin-left: 1rem;
	}
}